# dependencies
/node_modules
/.pnp
.pnp.js
/yarn.lock
.vscode

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
.env*
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/public/static/videos/*
.vercel
/.zip
.zip
*.zip
out
/out
minh-tuoi-loz
/minh-tuoi-loz